@import url('@fortawesome/fontawesome-free/css/all.css');
@import url('chartist/dist/index.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ct-series-a .ct-line {
	stroke: theme('colors.sky.100');
}

.ct-series-b .ct-line {
	stroke: theme('colors.slate.800');
}

.ct-chart-line {
	overflow: visible;
}

.ct-label.ct-horizontal.ct-end {
	transform: translate(-40px, 30px) rotate(-45deg);
	white-space: nowrap;
}
